<!DOCTYPE html>

<html>
    <head>
        <title>Troll Tinder</title>
    </head>
    <body>
        <h1>Registracija</h1>
        <form method="POST">
            <input name="name" placeholder="Ime"><br>
            <input name="surname" placeholder="Priimek"><br>
            <input name="birth" placeholder="Leto rojstva"><br>
            <select name="gender">
                <option value="m">Moški</option>
                <option value="ž">Ženska</option>
            </select><br>
            <button type="submit">Naprej</button>

        </form>

    </body>

</html>